
        img{
            width: 10%;
            height: auto;
            border: 5px solid salmon;
        
        }
        table{
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: fit-content;
        }
        td,th{
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }
        ul{
            list-style-type: circle;
        }
        header{
            color: blueviolet;
        }
    